.main{
  .content{
    .phone{
      background-image: url('../../../assets/image/iphone.png');
      height: 800px;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
    }
  }
}